# dependencies
node_modules/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# turbo
.turbo

# worktrees
.worktrees
